@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background: rgb(26, 42, 51);

  width: 100%;
  height: 900px;
  margin: 0 auto;
}

.tic {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.cell {
  width: 102px;
  height: 140px;
  border-radius: 15px;

  box-shadow: inset 0px -8px 0px 0px rgb(16, 33, 42);
  /* Semi Dark Navy */
  background: rgb(31, 54, 65);
  font-size: 70px;
  margin-left: 20px;
  cursor: pointer;
  padding-left: 38px;
  box-shadow: 0 9px rgb(16, 33, 42);
}

.cell:active {
  box-shadow: 0 5px rgb(16, 33, 42);
  transform: translateY(4px);
}

.o img {
  margin-top: 13px;
}

.x img {
  margin-top: 13px;
}

table {
  border-spacing: 20px;
}

.tic__buttons {
  display: flex;
  justify-content: center;
  margin-top: 139px;
}
.reset {
  border-radius: 10px;
  width: 52px;
  height: 52px;
  box-shadow: inset 0px -4px 0px 0px rgb(107, 137, 151);
  /* Silver */
  background: rgb(168, 191, 201);
  border: 0;
  cursor: pointer;
}

.reset:active {
  box-shadow: 0 5px rgb(107, 137, 151);
  transform: translateY(4px);
}

.x-img {
  width: 30.49px;
  height: 30.49px;
  margin-top: 10px;
}

.o-img {
  width: 31.74px;
  height: 31.74px;
  margin-left: 9px;
  margin-right: 85px;
  margin-top: 10px;
}

.turn {
  margin-right: 108px;

  border-radius: 10px;

  box-shadow: inset 0px -4px 0px 0px rgb(16, 33, 42);
  /* Semi Dark Navy */
  background: rgb(31, 54, 65);
  width: 140px;
  height: 37px;

  color: rgb(168, 191, 201);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
}
.results {
  width: 459px;
  margin: 0 auto;
  display: flex;
  margin-top: 19px;
}
.ties {
  width: 140px;
  height: 72px;
  border-radius: 15px;

  /* Silver */
  background: rgb(168, 191, 201);

  /* Body */
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.88px;
  text-align: center;
  margin-right: 19px;
}

.win-X {
  width: 140px;
  height: 72px;
  border-radius: 15px;

  /* Light Blue */
  background: rgb(49, 195, 189);
  margin-right: 19px;
}

.win-O {
  width: 140px;
  height: 72px;

  border-radius: 15px;

  /* Light Yellow */
  background: rgb(242, 177, 55);
}

.win-o-res {
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.88px;
  text-align: center;
  margin-top: 13px;
}

.winner__o {
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-align: center;
}

.win-x-res {
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.88px;
  text-align: center;

  margin-top: 13px;
}
body::after {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.winner__popup {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 266px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgb(31, 54, 65);
  z-index: -1;
}
.winner__popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner__popup-text {
  /* Heading (Extra Small) */
  color: rgb(168, 191, 201);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
}

.winner__popup-win {
  /* Heading (Large) */
  color: rgb(242, 177, 55);
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2.5px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 23px;
  display: flex;
  flex-direction: row;
}

.winner__popup-quit {
  width: 76px;
  height: 52px;
  border-radius: 10px;

  box-shadow: inset 0px -4px 0px 0px rgb(107, 137, 151);
  /* Silver */
  background: rgb(168, 191, 201);
  /* Heading (Extra Small) */
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.winner__popup-quit:active {
  box-shadow: 0 5px rgb(107, 137, 151);
  transform: translateY(4px);
}

.winner__popup-quit span {
}

.winner__popup-next {
  width: 146px;
  height: 52px;
  border-radius: 10px;

  box-shadow: inset 0px -4px 0px 0px rgb(204, 139, 19);
  /* Light Yellow */
  background: rgb(242, 177, 55);

  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 16px;
}

.winner__popup-next:active {
  box-shadow: 0 5px rgb(204, 139, 19);
  transform: translateY(4px);
}

.winner__popup-btns {
  display: flex;
  margin-top: 31px;
}

.turn span {
  margin-top: 15px;
}

.winner__popup-win span {
  margin-left: 25px;
  margin-top: 8px;
}

.winner__x {
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-align: center;
}

.draw__result {
  margin-top: 13px;

  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.88px;
  text-align: center;
}

.draw {
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-align: center;
}

.o-hovered {
  background-image: url("./images/icon-o-outline.svg");
  background-repeat: no-repeat;
  background-position: center; /* Центрирует изображение */
}

/* Стили для случая, когда o >= x */
.x-hovered {
  background-image: url("./images/icon-x-outline.svg");
  background-repeat: no-repeat;
  background-position: center; /* Центрирует изображение */
}

.winner__position {
  background-color: aqua;
  background-image: url("./images/icon-x-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.restart__popup {
  opacity: 0;

  position: absolute;
  width: 100%;
  height: 266px;

  top: 330px;
  /* Semi Dark Navy */
  background: rgb(31, 54, 65);

  z-index: -1;
}

.restart__popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restart__question {
  /* Heading (Large) */
  color: rgb(168, 191, 201);
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 67px;
}

.restart__btn-wrapper {
  display: flex;
  margin-top: 31px;
}

.restart__btn-cancel {
  /* Heading (Extra Small) */
  width: 139px;
  height: 52px;

  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;

  box-shadow: inset 0px -4px 0px 0px rgb(107, 137, 151);
  /* Silver */
  background: rgb(168, 191, 201);
  border: none;
  margin-right: 16px;
  cursor: pointer;
}

.restart__btn-cancel:active {
  box-shadow: 0 5px rgb(107, 137, 151);
  transform: translateY(4px);
}

.restart__btn-yes {
  width: 151px;
  height: 52px;
  border-radius: 10px;

  box-shadow: inset 0px -4px 0px 0px rgb(204, 139, 19);
  /* Light Yellow */
  background: rgb(242, 177, 55);
  /* Heading (Extra Small) */
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.restart__btn-yes:active {
  box-shadow: 0 5px rgb(204, 139, 19);
  transform: translateY(4px);
}

.tic__tac {
  display: none;
}

.tic__start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tic__start-icons {
  margin-top: 215px;
  margin-bottom: 40.26px;
  margin-left: 100px;
}

.tic__player {
  width: 460px;
  height: 205px;
  border-radius: 15px;

  box-shadow: inset 0px -8px 0px 0px rgb(16, 33, 42);
  /* Semi Dark Navy */
  background: rgb(31, 54, 65);
}

.tic__player-mark {
  /* Heading (Extra Small) */
  color: rgb(168, 191, 201);
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
}

.tic__player-btn {
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
  width: 412px;
  height: 72px;
  border-radius: 10px;
  /* Dark Navy */
  background: rgb(26, 42, 51);
}

.tic__player-x {
  width: 198px;
  height: 54px;
  border-radius: 10px;

  background: rgba(168, 191, 201, 0.05);
  border: 0;
  margin-left: 8px;
  margin-top: 9px;
  cursor: pointer;
}

.tic__player-o {
  width: 198px;
  height: 54px;
  border-radius: 10px;

  /* Silver */
  background: rgb(168, 191, 201);
  border: 0;
  margin-top: 9px;
  cursor: pointer;
}

.tic__player-reminder {
  /* Body */
  color: rgb(168, 191, 201);
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  margin-top: 17px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.88px;
  text-align: center;
  opacity: 0.5;
}

.tic__start-cpu {
  /* Heading (Small) */
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 15px;

  box-shadow: inset 0px -8px 0px 0px rgb(204, 139, 19);
  /* Light Yellow (Hover) */
  background: rgb(255, 200, 96);
  width: 460px;
  height: 67px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.tic__start-cpu:active {
  box-shadow: 0 5px rgb(204, 139, 19);
  transform: translateY(4px);
}

.tic__start-player {
  border-radius: 15px;

  box-shadow: inset 0px -8px 0px 0px rgb(17, 140, 135);
  /* Light Blue (Hover) */
  background: rgb(101, 233, 228);
  width: 460px;
  height: 67px;
  /* Heading (Small) */
  color: rgb(26, 42, 51);
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

.tic__start-player:active {
  box-shadow: 0 5px rgb(17, 140, 135);
  transform: translateY(4px);
}

.tie {
  color: rgb(168, 191, 201);
}

.winner__popup-x {
  color: rgb(49, 195, 189);
}

.winner__popup-o {
  color: rgb(242, 177, 55);
}

@media (max-width: 550px) {
  .tic {
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tic__player {
    width: 327px;
    height: 205px;
  }
  .tic__player-btn {
    width: 279px;
    height: 72px;
  }

  .tic__player-x {
    width: 131.99px;
    height: 54px;
  }

  .tic__player-o {
    width: 131.99px;
    height: 54px;
  }

  .tic__start-cpu {
    width: 327px;
    height: 56px;
    font-size: 16px;
  }
  .tic__start-player {
    width: 327px;
    height: 56px;
    font-size: 16px;
  }

  .tic__player-reminder {
    font-size: 14px;
  }

  .tic__player-mark {
    font-size: 16px;
  }

  .tic__buttons {
    margin-top: 28px;
  }

  .cell {
    width: 96px;
    height: 84px;
    padding: 0;
  }

  table {
    margin-top: 64px;
    width: 328px;
  }

  .cell img {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 20px;
    margin-top: -20px;
  }

  .o-hovered {
    background-image: none;
  }
  .x-hovered {
    background-image: none;
  }

  .win-X {
    width: 96px;
    height: 64px;
  }
  .ties {
    width: 96px;
    height: 64px;
  }
  .win-O {
    width: 96px;
    height: 64px;
  }
  .results {
    width: 328px;
    margin: 0 auto;
  }
  .turn {
    width: 96px;
    height: 40px;
    font-size: 14px;
    margin-right: 74px;
  }

  .o-img {
    margin-right: 46px;
  }
  .restart__question {
    font-size: 24px;
  }
  .restart__popup {
    top: 269px;
  }
  .winner__popup-x {
    font-size: 24px;
  }
  .winner__popup-x img {
    width: 28px;
    height: 28px;
    margin-top: 18px;
  }

  .winner__popup-o {
    font-size: 24px;
  }
  .winner__popup-o img {
    width: 28px;
    height: 28px;
    margin-top: 18px;
  }

  .winner__popup {
    top: 400px;
  }

  .winner__popup-text {
    font-size: 14px;
  }
  .tic__start-icons {
    margin-left: 58px;
  }

  .winner__x {
    font-size: 20px;
  }

  .winner__o {
    font-size: 20px;
  }
  .draw {
    font-size: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__popup {
  animation: fadeIn 1s ease forwards;
}
